<div class=" container">
    <h2 class="title">Room details</h2>
    <hr>
    <div class="row d-flex">
        <div class="row">
            <div class="col-md-6 d-flex align-items-stretch">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{room.name}}</h5>
                        <p>{{room.type}}</p>
                        <img src="{{room.profileImg}}" class="card-img-top" alt="{{name}}">
                        <p>{{room.location.coordinates.[0]}}</p>
                        <p>{{room.location.coordinates.[1]}}</p>
                        <p>{{room.description}}</p>
                        {{#if isAdmin}}
                        <div class="d-flex">
                            <a href="/edit/{{room._id}}" class="btn btn-warning btn-sm me-2">Edit</a>
                            <br>
                            <form action="/delete/{{room._id}}" method="POST">
                                <input type="submit" value="Delete" class="btn btn-danger btn-sm ms-2">
                            </form>
                        </div>
                        {{/if}}
                        <div>
                            <a href="/contact/{{room._id}}" class="btn btn-secondary btn-sm m-2">Contact</a>
                        </div>
                        <br>
                        <input type="hidden" id="id" name="id">
                    </div>
                </div>
            </div>
            <div class="mt-5" id="mapDetails"></div>
        </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/mapStyles.js"></script>
    <script src="/js/roomDetailsMap.js"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?callback=initMap&key=AIzaSyAk7rsgb-yjruLF1snOK0qV6lRrGxbjqQQ"></script>