<div class=" container">
    <h2 class="title">Rooms</h2>
    <hr>
    <div class="row">
        {{#each room }}
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <p>{{type}}</p>
                    <img src="{{profileImg}}" class="card-img-top" alt="{{name}}">
                    <p>{{location.coordinates.[0]}}</p>
                    <p>{{location.coordinates.[1]}}</p>
                    <p>{{description}}</p>
                    <div class="d-flex">
                        <a href="/details/{{_id}}" class="btn btn-secondary btn-sm m-2">Details</a>
                        {{#if ../isAdmin}}
                        <a href="/edit/{{_id}}" class="btn btn-warning btn-sm m-2">Edit</a>

                        <form action="/delete/{{_id}}" method="POST">
                            <input type="submit" value="Delete" class="btn btn-danger btn-sm m-2">
                        </form>

                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>