<div class="container">
    <h2 class="title">Hi {{user.username}}</h2>
    <hr>
    <p>Email: {{user.email}}</p>
    <p>Role: {{user.role}}</p>
    <div class="mb-3 d-flex">
        <a class="btn btn-warning btn-sm" href='/edit-profile/{{user._id}}' role="nav-link">Edit</a>

        <form action="/deleteProfile/{{user._id}}" method="POST">
            <input type="submit" value="Delete" class="btn btn-danger btn-sm ms-2">
        </form>
        {{#if isAdmin}}
        <a class="btn btn-secondary btn-sm ms-2" href='/users' role="nav-link">All users profiles</a>
        {{/if}}
    </div>

    <div class="row">

        {{#if isRoomholder}}
        {{#each room }}
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Name: {{name}}</h5>
                    <p>Type: {{type}}</p>
                    <img src="{{profileImg}}" class="card-img-top" alt="{{name}}">
                    <p><b>Description: </b>{{description}}</p>
                    <p><b>Latitude: </b>{{location.coordinates.[0]}}</p>
                    <p><b>Longitude: </b>{{location.coordinates.[1]}}</p>
                    <div class="d-flex">
                        <a href="/edit/{{_id}}" class="btn btn-warning btn-sm me-2">Edit</a>
                        <br>
                        <form action="/delete/{{_id}}" method="POST">
                            <input type="submit" value="Delete" class="btn btn-danger btn-sm ms-2">
                        </form>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        {{/if}}

        {{#if isAdmin}}
        {{#each room }}
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Name: {{name}}</h5>
                    <p>Type: {{type}}</p>
                    <img src="{{profileImg}}" class="card-img-top" alt="{{name}}">
                    <p>Longitude: {{location.coordinates.[0]}}</p>
                    <p>Latitude: {{location.coordinates.[1]}}</p>
                    <p>Description: {{description}}</p>
                    <div class="d-flex">
                        <a href="/edit/{{_id}}" class="btn btn-warning btn-sm me-2">Edit</a>
                        <br>
                        <form action="/delete/{{_id}}" method="POST">
                            <input type="submit" value="Delete" class="btn btn-danger btn-sm ms-2">
                        </form>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        {{/if}}
    </div>
</div>