<div class=" container">
    <h2 class="title">Hi {{user.username}}, this are your rooms:</h2>
    <hr>
    <p>Email: {{user.email}}</p>
    <p>Role: {{user.role}}</p>
    <div class="row">
       {{#if isRoomholder}}
        {{#each room }}
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Name: {{name}}</h5>
                    <p>Type: {{type}}</p>
                    <img src="{{profileImg}}" class="card-img-top" alt="{{name}}">
                    <p>Longitude: {{location.coordinates.[0]}}</p>
                    <p>Latitude: {{location.coordinates.[1]}}</p>
                    <p>Description: {{description}}</p>
                    <a href="/edit/{{_id}}" class="btn btn-warning btn-sm">Edit</a>
                    <br>
                    <form action="/delete/{{_id}}" method="POST">
                        <input type="submit" value="Delete" class="btn btn-danger btn-sm">
                    </form>
                    <br>
                </div>
            </div>
        </div>
        {{/each}}
        {{/if}}
    </div>
</div>